<h1>{{ employees.first_name }} {{ employees.last_name }}</h1>
<ul>

    <li>{% if employees.gender  == 'M' %}
    Male {% else%}
    Female	
    	{% endif %}
</li>
    <li>{{ employees.hire_date }}</li>

</ul>


{% if inouts %}
    <ul>
    {% for inout in inouts %}
        <li>{{ inout.check_date }} - {{ inout.check_time }}</a><strong>( {{ inout.check_type }} )</strong></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No records are available.</p>
{% endif %}