{% if employee_list %}
    <ul>
    {% for employee in employee_list %}
        <li><a href="{% url 'attendance:details' employee.id %}">{{ employee.first_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No employees are available.</p>
{% endif %}